table {
    border-collapse: collapse;
    text-align: center;
    font-size:14px;
}

table,th,td {
    border: 1px solid grey;
}

th,td {
    padding: 3px 9px;
}

p {
    font-weight: 600;
    margin-bottom: 0;
}